@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Roboto&display=swap");
body {
  // padding-top: 20px;
  // &:before {
  //   z-index: 10001;
  //   line-height: 20px;
  //   font-weight: bold;
  //   text-align: center;
  //   position: fixed;
  //   font-size: 20px;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 20px;
  //   background: limegreen;
  //   content: "Xsmall";
  // }
  // @include media-breakpoint-up(sm) {
  //   &:before {
  //     content: "small";
  //     background: #f00;
  //   }
  // }
  // @include media-breakpoint-up(md) {
  //   font-size: $font-size-base;
  //   &:before {
  //     content: "middle";
  //     background: green;
  //   }
  // }
  // @include media-breakpoint-up(lg) {
  //   &:before {
  //     content: "Large";
  //     background: turquoise;
  //   }
  // }
  // @include media-breakpoint-up(xl) {
  //   &:before {
  //     content: "XLarge";
  //     background: #f09;
  //   }
  // }
  // @include media-breakpoint-up(xxl) {
  //   &:before {
  //     content: "XXLarge";
  //     background: #90f;
  //   }
  // }
}
.test {
  background: #ccc;
}
.main-navbar {
  height: 100px;
}
.test-row {
  background: tan;
}

.main-nav {
  @include list-unstyled;
}
main h1 {
  margin-bottom: 22px;
  font-family: "Roboto", sans-serif;
}
.customborder {
  border-bottom: 3px solid orange;
  border-width: 170px;
}
.custommargin {
  margin-right: 195px;
}
.intro {
  .mainpage {
    height: 654px;
  }
  .custom-header {
    padding-top: 61px;
    height: 71px;
    position: relative;
    h3 {
      font-weight: 400;
      margin-bottom: 27px;
    }
  }
  .custom-header:after {
    content: "";
    position: absolute;
    background: #ffcf00;
    height: 3px;
    width: 170px;
    left: calc(50% - (170px / 2));
    bottom: -99px;
  }
  .customtextblock {
    padding-top: 122px;
  }
  .customlist {
    padding-top: 87px;
    li {
      list-style: none;
      h2 {
        padding-top: 32px;
        margin-bottom: 24px;
      }
    }
  }
}
.how-we-do {
  background: #131a1d;
  height: 550px;
  color: #ffcf00;
  .darkasideh1 {
    padding-top: 67px;
    margin-bottom: 14px;
  }
  .slogan {
    color: $white;
    margin-bottom: 31px;
  }
  .copabilities {
    color: $white;
    ul {
      li {
        list-style-type: none;
        img {
          margin-bottom: 22px;
        }
      }
    }
  }
}
