$gableGreen: #122a2f;
$yellowBtn: #ffe600;

$btn-border-radius-lg: 0;
$btn-font-weight: 500;
$font-family-sans-serif: "Oswald", sans-serif;
// $h1-font-size: 30px;
// $h2-font-size: 20px;
// $h3-font-size: 16px;
$h1-font-size: 1.875rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$headings-font-weight: 700;
$font-weight-base: 300;
// $grid-gutter-width: 1.1rem !default;
